<!DOCTYPE html>
<html>

<body>

<div ng-app="myApp" ng-controller="customersCtrl"> 
  <form ng-submit="formSubmit()">
  	<ul>
  	  <li> <input type="text" ng-model="username" /> </li>
  	  <li> <input type="text" ng-model="mobile" /> </li>
  	  <li> <button>Submit</button> </li>
  	  <li> {{list}} </li>
  	</ul>
  </form>
</div>

<script src="js/angular.min.js"></script>
<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
  $scope.formSubmit = function(){
  	$scope.list = [];
  	$scope.uname = angular.lowercase($scope.username);
  	$scope.mobile = angular.lowercase($scope.mobile);
  	//console.log($scope.uname+"----"+$scope.mobile)

  	if($scope.uname == " "){
  		console.log("Please enter user name")
  	}else if($scope.mobile == " "){
  		console.log("Please enter mobile no")
  	}else{
  		$scope.list.push(this.username, this.mobile);
  		$scope.username = ""
  		$scope.mobile = ""
  	}
  }
});
</script>

</body>
</html>
