<ion-view title="Menu List">
	
	<div class="bar bar-subheader item-input-inset bar-light">
	  <label class="item-input-wrapper">
	    <i class="icon ion-search placeholder-icon"></i>
	    <input ng-model="query" type="search" placeholder="Search">
	  </label>
	</div>

    <ion-content padding="'false'" class="has-subheader">
	<!--Automatically loops back from the begining -->
	<!---slide-box auto-play ="true" does-continue="true" show-pager="true"  >
	   <ion-slide class="swiper-slide swiper-slide-active" style="width:100%; height: 50%; "  ng-repeat="slide in slide_items">
	      <div>
	         <img  ng-src="{{'img/slide/'+ slide.p_image_id +'.jpg'}}"  ng-click="showProductInfo(slide.p_id,slide.p_description,slide.p_image_id,slide.p_name,slide.p_price)" >
	      </div>
	   </ion-slide>
	</ion-slide-box-->

   <div class="button-bar">
        <a ui-sref="nav-left.tabs.page-filterBy" class="button button-stable button-block  icon-left ion-android-funnel">Filter</a>
        <a ui-sref="nav-left.tabs.page-sortBy" class="button button-stable button-block  icon ion-android-restaurant">Sort</a>
    </div>
    <ion-list ng-repeat="item in menu_items">
		<ion-item class="item-thumbnail-left" >
            <img  ng-src="{{'img/menu/'+ item.p_image_id +'.jpg'}}"  ng-click="showProductInfo(item.p_id,item.p_description,item.p_image_id,item.p_name,item.p_price)" >
			
			<!--p style="position:absolute;right:10px;">
			<a  ng-click="addToCart(item.p_id,item.p_image_id,item.p_name,item.p_price)" class="button  button-balanced button-clear   icon ion-android-cart">  </a> 
			</p-->
            <span class="btn-add-to-cart" ng-click="addToCart(item.p_id,item.p_image_id,item.p_name,item.p_price)"> </span>	
			<h2  ng-click="showProductInfo(item.p_id,item.p_description,item.p_image_id,item.p_name,item.p_price)" > {{item.p_name}} </h2>
            <p   ng-click="showProductInfo(item.p_id,item.p_description,item.p_image_id,item.p_name,item.p_price)">Price: &#8377; {{item.p_price}}</p>
            <p class="cart-box clearfix">
		      	<button class="button button-small icon ion-minus" ng-click='dec()'></button>
				  <label class="item-input-wrapper">
				    <input type="number" ng-model="tally" value="1" placeholder="1" style="text-align: center;">
				  </label>
				<button class="button button-small icon ion-plus" ng-click='inc()'></button>
				<span class="total-price"> = $80.00</span>
		      </p>
		</ion-item>
    </ion-list>

	<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%">
		<ion-infinite-scroll-content loadingSpinner="bubbles">
	</ion-infinite-scroll>		
    </ion-content>
</ion-view>