<ion-tabs class="tabs-icon-top tabs-positive tabs-custom">
    <ion-tab title="Home" icon="ion-archive" ui-sref="nav-left.tabs.page-home">
      <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
     <ion-tab title="Menu List" icon="ion-person-stalker" ui-sref="nav-left.tabs.page-food-menu">
      <ion-nav-view name="tab-food-menu"></ion-nav-view>
    </ion-tab>
    <ion-tab title="My Cart" icon="ion-paper-airplane" ui-sref="nav-left.tabs.page-my-cart">
      <ion-nav-view name="tab-my-cart"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Profile" icon="ion-gear-a" ui-sref="nav-left.tabs.page-login">
      <ion-nav-view name="tab-profile"></ion-nav-view>
    </ion-tab>
</ion-tabs>
