<ion-view title="Contacts Us" hide-back-button="true">
<ion-content has-bouncing="false" padding="true">
	<div class="list">

	<a class="item item-icon-left" href="#">
	    <i class="icon ion-clock"></i>
	    Opening Hour
	    <span class="item-note">
	      9.00 AM - 10 PM
	    </span>
	 </a>
	<a class="item item-icon-left" href="#">
	    <i class="icon ion-location"></i>
	    Aaddress
	    <span class="item-note">
	      Kolkata
	    </span>
	 </a>
	 <a class="item item-icon-left" href="#">
	    <i class="icon ion-ios-telephone"></i>
	    Phone
	    <span class="item-note">
	      +919933687770
	    </span>
	 </a>
	 <a class="item item-icon-left" href="#">
	    <i class="icon ion-email"></i>
	    Email
	    <span class="item-note">
	      sentu.biswas12@gmail.com
	    </span>
	 </a>

	</div>  	
</ion-content>
</ion-view>