<ion-view title="Request Quotation" hide-back-button="true">
<ion-content padding="true">	
 <div class="row">      
    <div class="col col-100">
     <div class="list">     
      <label class="item item-input item-stacked-label">
        <span class="input-label">Name</span>
        <input type="text" ng-model="user.email" placeholder="Your email address">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="email" ng-model="user.password" placeholder="Your password">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Cotact Number</span>
        <input type="text" ng-model="user.email" placeholder="Your email address">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Function Date</span>
        <input type="text" ng-model="user.email" placeholder="Your email address">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Function Time</span>
        <input type="text" ng-model="user.email" placeholder="Your email address">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Estimated Budget Per Pax($)</span>
        <input type="text" ng-model="user.email" placeholder="Your email address">
      </label>
      <label class="item item-input item-select">
		    <div class="input-label">
		      	Halal Caterers
		    </div>
		    <select>
		      <option selected>Yes</option>
		      <option>No</option>
		    </select>
		</label>
		<label class="item item-input item-stacked-label">
        <span class="input-label">Please say your requirements</span>
        <textarea ng-model="user.email"></textarea>
      </label>
     </div>
    </div>
 </div>
 <div class="row">      
    <div class="col col-80 col-offset-10">       
     <a class="button button-block button-positive" ui-sref='left-nav.tabs.page-home'> Submit  </a>
   </div>
 </div>			   	
</ion-content>

</ion-view>