<ion-view title="Cash Rewards" hide-back-button="true">

<ion-content padding="true">
	<div class="card">
	  <div class="item item-divider">
	    Lorem ipsum dolor 
	  </div>
	  <div class="item item-text-wrap">
	    <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam </p>
	  </div>
	  <div class="item item-divider">
	    Lorem ipsum dolor sit amet
	  </div>
	  <div class="item item-text-wrap">
	    <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam </p>
	    <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
	  </div>
	  <div class="item item-divider">
	    Lorem ipsum dolor 
	  </div>
	  <div class="item item-text-wrap">
	    <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat ad minim veniam </p>
	  </div>
	  <div class="item item-divider">
	    Lorem ipsum dolor sit amet
	  </div>
	  <div class="item item-text-wrap">
	    <p> Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam </p>
	  </div>
	</div>		   	
</ion-content>
</ion-view>
